.LoginRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    width: 92%;
    padding: 12px; 
    margin-top: 4px; 
    font-size: 14px; 
  }
  
  button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #B2A59B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #DED0B6;
  }
  