/* MainPage.css */

.main-page {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .nav-bar {
    background-color: #607274;
    padding: 10px;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 3px;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
  }

  .nav-bar a:hover {
    color: #FAEED1;
  }

  .nav-bar a:hover, 
  .nav-bar .logout-button:hover {
  transform: scale(1.07);
}
  
  .content {
    flex: 1;
    margin-left: 20px;
  }
  
  .logout-button {
    margin-top: auto;
    font-size: 12px;
    padding: 12px;
  }
  
  .logout-button:hover {
    background-color: #91404f;
  }
  